#timer {
    float: right;
    margin: -20 150;
}

.container-fluid {
    width: 400;
    height: 700px;
    margin: 80 200 400 600;
    margin-right: auto;
    margin-left: auto;
}
#btn {
    margin: 40 80px;
    background: #0e64b9;
    width: 200;
}
p {
    margin: 30 0 10px;
    text-align: -webkit-center;
    line-height: 2;
}
.h1, h1 {
    font-size: 36px;
    width: 400;
}
.modal-content {
    height: 350;
}
.modal-body {
    position: relative;
    margin: -5 20;
    padding: 10;
    height: 210px;
}
.modal-footer {
    padding: px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    padding: 10;
}
#answer{
    float: left;
}
input {
    padding: 10;
    width: 300;
    line-height: normal;
    margin-top: 40px;
}

#ViewHighScores {
    color: white;
    border-color: snow;
}

#next{
position: absolute;
bottom: 0px;
right: 30px !important;
right: 10px;
margin: 10px 20px;
}

#done{
    display: none;
    position: absolute;
    position: absolute;
bottom: 0px;
right: 30px !important;
right: 10px;
margin: 10px 20px;
}

#submit{
    display: none;
    position: absolute;
bottom: 0px;
right: 30px !important;
right: 10px;
margin: 10px 20px;
}

#close{
    display: none;
    position: absolute;
bottom: 0px;
right: 30px !important;
right: 10px;
margin: 10px 20px;
}

#hide-btn{
    display: none;
    margin-left: 70px;
}

#holder{
    margin: 30px 0px 20px 30px;
}
.h5, h5 {
    padding: 10px;
    font-size: 17px;
}